<template>
  
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <h1 class='text-center text-info mb-4'><img src="../assets/beer-2.png"> Arizona Breweries</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        
        <BrewList @mouse-over-brew='mouseOverBrew' @mouse-left-brew='mouseLeftBrew' v-bind:brews="brews"/>
        
      </div>
      <div class="col-6">
        
        <BrewMap v-bind:brews="brews"/>

      </div>
    </div>
  </div>
  
</template>

<script>

import axios from 'axios'
import BrewList from './BrewList'
import BrewMap from './BrewMap'

export default {
  name: 'Brew',
  components: { BrewList, BrewMap },
  data: function() {
    return {
      brews: [],
      normalIcon: [24,24],
      largeIcon: [48,48]
    }
  },
  mounted: function() {
    axios.get('https://api.openbrewerydb.org/breweries')
      .then((r) => {
        this.brews = r.data.filter(r => r.state == 'Arizona')
          .map(r => {
            r.iconsSize = this.normalIcon
            return r
          })
      })
  },
  methods: {
    mouseOverBrew: function(index) {
      console.log(index + 'mouse over')
      this.brews[index].iconsSize = this.largeIcon
    },
    mouseLeftBrew: function(index) {
      console.log(index + 'mouse left')
      this.brews[index].iconsSize = this.normalIcon
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>

</style>
