<template>
    <div class="card brew-list">
        <ul class="list-group list-group-flush">
        <li
            @mouseover="mouseOverBrew(index)"
            @mouseleave="mouseLeftBrew(index)"
            v-for='(brew, index) in brews'
            v-bind:key="index"
            class="list-group-item">
            {{ brew.name }} | {{ brew.state }}
        </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'BrewList',
    props: { brews: Array },
    methods: {
      mouseOverBrew: function(index) {
        this.$emit('mouse-over-brew', index)
      },
      mouseLeftBrew: function(index) {
        this.$emit('mouse-left-brew', index)
      }
    }
}
</script>

<style lang='scss' scoped>

  .brew-list {
    overflow-y: scroll;
    height: 80vh;
    li {
      transition-property: background-color;
      transition-duration: 1s;
      &:hover {
        cursor: pointer;
        background-color: #17a2b8;
      }
    }
  }

</style>