<template>
    <div class="row map">
        
        <l-map @update:zoom="zoomUpdate" @update:center="centerUpdate" :zoom="zoom" :center="center">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker v-for="brew in brews" :key="brew" :lat-lng="latLng(brew.latitude, brew.longitude)">
                <l-icon :icon-size='brew.iconSize' :icon-url='icon'>
                </l-icon>
            </l-marker>
        </l-map>
        
    </div>
</template>

<script>
    import L from 'leaflet'
    import { LMap, LTileLayer, LMarker, LIcon } from 'vue2-leaflet'
    import beer from '../assets/beer-4.png'

    export default {
        name: 'BrewMap',
        props: { brews: Array },
        data: function() {
            return {
            zoom: 6,
            currentZoom: 6,
            center: L.latLng(34.307847, -112.148438),
            currentCenter: L.latLng(34.307847, -112.148438),
            url:'https://tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png?apikey=19589b6ae9c944a4a504b228db6c9cee',
            attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            marker: L.latLng(34.307847, -112.148438),
            icon: beer,
            iconSize: [24,24]
            }
        },
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LIcon
        },
        methods: {
            latLng: function(lat, lng) {
                return L.latLng(lat, lng)
            },
            centerUpdate: function(center) {
                this.currentCenter = center
            },
            zoomUpdate: function(zoom) {
                this.currentZoom = zoom
            },
        }
    }
</script>

<style lang='scss' scoped>
    .map {
        height: 80vh;
    }
</style>