<template>
  <div class='container-fluid'>
    <Brew/>
  </div>
</template>

<script>
import Brew from './components/Brew.vue'

export default {
  name: 'App',
  components: {
    Brew
  }
}
</script>

<style>

</style>
